@custom-media --viewport-s-plus (width >= 426px);
@custom-media --viewport-md (width >= 768px);

:root {
  --text-color: #333333;
  --blue: #0d3b66;
  --yellow: #f4d35e;
  --orange: #f95738;

  --retina-dpi: 144dpi;
  --retina-dppx: 1.5dppx;
}
