{
  "extends": "htmlacademy/es6",

  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },

  "rules": {
    "indent": ["error", 2],
    "no-invalid-this": 0,
    "no-process-exit": 0,
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false
    }],
    "quotes": [2, "single"],
    "no-new": 0
  }
}
