.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;

  text-align: center;
}

.block__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 3em;
  letter-spacing: 4px;
}

.block__text {
  margin: 0;

  font-weight: 300;
  font-size: 1.5em;
}
