<footer class="footer">
  <a class="footer__link" href="https://github.com/KatyaMatya21/starter">
    katyamatya 2020
    <img class="inline-svg" src="../../src/img/svg/icon.svg" width="15" height="15" alt="Smile">
  </a>
</footer>
