@import "common/fonts.pcss";
@import "../../node_modules/normalize.css/normalize.css";
@import "utils/variables.pcss";
@import "utils/mixins.pcss";
@import "common/global.pcss";
@import "blocks/block/block.pcss";
@import "blocks/footer/footer.pcss";
