.footer {
  margin-top: 30px;

  font-weight: 500;
  font-size: 1em;
}

.footer__link {
  color: var(--blue);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--orange);

    svg {
      fill: var(--blue);
    }
  }

  svg {
    display: inline-block;
    width: 15px;
    height: 15px;

    vertical-align: baseline;

    fill: var(--orange);
  }
}
